**/__pycache__/
**/logs/*
**/.DS_Store
archive.tgz
.env
*/.env
simulation/output/
simulation/terminated_conversations/
evaluation/*/batch_prompts/
evaluation/*/evaluation_outputs/
data/MATH/
data/math_tutoring_annotations.json
data/math_tutoring_annotations_for_benchmarking.json
